.box1{
	width: 200px;
	height: 200px;
	background-color: lightgreen;
	margin: 20px;
}
.box2{
	width: 200px;
	height: 200px;
	background-color: lightpink;
	border: 3px solid blue;
	padding: 20px;
	/*box-sizing: border-box;*/
}
.box2-content{
	width: 20px;
	height: 20px;
	background-color: yellow;
	border: 3px solid red;
}